@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Share Tech Mono', monospace;
}

header {
    background-color: black;
    padding: 20px;
    max-width: 100vw;
}

header > h1 {
    color: white;
    text-align: center;
    text-decoration: underline purple;
}

nav {
    text-align: center;
    padding-top: 10px;

}

nav > a {
    position: relative;
}

nav > a  {
    display: inline;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    transition-duration: 0.5s;
    padding: 15px;
}

nav > a:hover {
    color: purple;
}

body {
    background-color: black;
}

main {
    padding-top: 20px;
    padding-right: 30px;
    padding-left: 30px;
    margin: auto;
    max-width: 1000px;
    background-color: black;
    border: purple solid;
    border-radius: 10px;
}

main h1 {
    color: white;
    text-decoration: underline purple;
}

main h2 {
    color: white;
}

main p {
    color: white;
    padding: 30px;
    font-size: 1.3em;
    text-align: justify;
}

main strong {
    color: purple;
}


main #img-github {
    display: block;
    margin-bottom: 30px;
    padding: 10px 20px;
    margin-left: 40px;
    border: solid purple;
    border-radius: 30px;
    transition-duration: 0.5s;
}

main #img-linkdin {
    margin-bottom: 30px;
    padding: 10px 20px;
    margin-left: 40px;
    border: solid purple;
    border-radius: 30px;
    transition-duration: 0.5s;
}

main #img-linkdin:hover {
    background-color: purple;
}

main #img-github:hover {
    background-color: purple;
}

#img-developer {
    position: relative;
    max-width: 300px;
    left: 100px;
    bottom: 100px;
}


#contato {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 1.6em;
    border: purple solid;
    padding: 10px 20px;
    text-align: center;
    border-radius: 30px;
    transition-duration: 0.5s;
}

#contato:hover {
    background-color: purple;
}

.h1-center {
    text-align: center;
    padding: 30px;
}

#projeto-login {
    max-width: 300px;
    border: solid purple;
    padding: 20px;
    border-radius: 20px;
    padding-bottom: 50px;
}

#projeto-login > h2 {
    text-align: center;
}

#projeto-login > p {
    font-size: 1em;
    text-align: center;
    text-align: justify;
}

#projeto-login > img {
    display: block;
    max-width: 200px;
    padding-top: 20px;
    border-radius: 40px;
    margin: auto;
    
}

#projeto-login > a {
    color: white;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: bold;
    padding: 10px 30px;
    border: purple solid;
    border-radius: 30px;
    transition-duration: 0.5s;
}

#projeto-login > a:hover {
    background-color: purple;
}

.minhas-habilidades {
    text-align: center;
    margin-bottom: 50px;
}

#icon-html {
    display: inline-block;
    border: solid purple;
    padding-top: 10px;
    border-radius: 10px;
    
}

#icon-css {
    display: inline-block;
    border: solid purple;
    padding-top: 10px;
    border-radius: 10px;
    
}

#icon-js {
    display: inline-block;
    border: solid purple;
    padding-top: 10px;
    border-radius: 10px;
    
}

#icon-git {
    display: inline-block;
    border: solid purple;
    padding-top: 10px;
    border-radius: 10px;
    
}

#icon-github {
    display: inline-block;
    border: solid purple;
    padding-top: 10px;
    border-radius: 10px;
    
}

footer {
    margin-top: 20px;
    padding: 10px;
}

footer p {
    text-align: center;
    color: white;
}